# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Java-Algorithm-SouceCodeReview\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
